<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwlmDu7afb-F_vIiJa_JZW2N1ngDVDAhI</string>
	<key>GCM_SENDER_ID</key>
	<string>475682222670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afu.volunteerportal</string>
	<key>PROJECT_ID</key>
	<string>afu-volunteer-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>afu-volunteer-portal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475682222670:ios:933296ca317a9d7df9091f</string>
</dict>
</plist>